node_modules
dist
.git
.gitignore
.env
.env.local
.env.docker
README.md
npm-debug.log
coverage
.vscode
.idea
.md
test
.eslintrc.js
.prettierrc
docker-compose.app.yml
docker-compose.dev.yml
docker-compose.yml
Dockerfile
.dockerignore