version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nestjs_app
    restart: always
    ports:
      - '3000:3000'
    environment:
      NODE_ENV: production
      PORT: 3001
      API_PREFIX: api
      DB_HOST: mysql
      DB_PORT: 3306
      DB_USERNAME: root
      DB_PASSWORD: root
      DB_DATABASE: nestjs_starter
      DB_SYNCHRONIZE: false
      DB_LOGGING: true
      CORS_ORIGIN: http://localhost:3000
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - nestjs_network

  mysql:
    image: mysql:8.0
    container_name: nestjs_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: nestjs_starter
    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - nestjs_network
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      timeout: 20s
      retries: 10

volumes:
  mysql_data:

networks:
  nestjs_network:
    driver: bridge